<!--<h1>Page#articles</h1>
<p>Find me in app/views/page/articles_old.html.erb</p>-->

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= image_tag("img-10.jpg", class: "img-responsive", alt: "" ) %>
    <!--<img class="img-responsive" alt="" src="./assets/images/img-10.jpg">-->
  </div>
  <div class="col-xs-12 col-md-6">
    <h1>Article</h1>

    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h3>Incididunt ut labore </h3>

    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>

    <h3>Ut enim ad minim veniam </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus at sem quis varius.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</p>
    <h3>Phasellus iaculis magna </h3>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <%= link_to "Get in touch", {controller: "page", action: "contact_us"}, class: "btn btn-primary"  %>
    <!--<a href="contact.html" class="btn btn-primary" title=""> Get in touch</a>-->
  </div>
</div>
