<!--<h1>Page#calendar</h1>
<p>Find me in app/views/page/calendar.html.erb</p>-->

<div class="row">
  <div class="col-xs-12 col-md-8 section-container-spacer">
    <h1>Calendar</h1>

    <%= calendar(@month, @year) %>

  </div>
</div>
